:root{
    --dark: #03989E;
    --light: #8FF8FC;
    --white: #ffffff;
    --gray: #F8F8F9;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.rectangle{
    position:fixed; 
	top: 0%;
	left: 0%;
    width: 10%;
    height:100%;
    background:var(--dark);
    z-index: -1;
}

.triangle {
    width: 15%;
	transition: 1s;
	top: 73%;
	left: 8.5%; 
	position: absolute;
}

.triangle img{
    display: block;
	width: 15%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-drag: none;
    -khtml-user-drag: none;
    -webkit-user-drag: none;
}

.navigation{
    position: fixed;
    display: grid;
    align-items: left;
    justify-content: left;
    width: 100%;
    left: 2.5%;
	top: 30%;
}

.navigation button{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 90%;
    background-color: var(--dark);
    color: var(--light);
    border-style: none;
}

.navigation :nth-child(5){
	color: var(--white);
}

.logo {
    width: 25%;
	transition: 1s;
	top: 6.5%;
	left: 2%; 
	position: absolute;
}

.logo img{
    display: block;
	width: 25%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-drag: none;
    -khtml-user-drag: none;
    -webkit-user-drag: none;
}

.welcome{
    position:fixed; 
	top: 29.5%;
	left: 27%;
}

.user-info {
    display: flex;
    align-items: center; /* Vertically center the content */
    gap: 1%; /* Add 1% spacing between the username and badge */
}

.badge img {
    max-width: 100%; /* Adjust the maximum width of the badge image to 100% */
    /* Add any additional styling you want for the badge image */
}

.signout{ 
    position:fixed; 
	top: 90.4%;
	left: 2.5%;
}

.signout a{
    position:fixed; 
	text-decoration: none; 
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: var(--white);
}

.grayrectangle{
    position:fixed; 
	top: 0%;
	left: 11%;
    width: 70%;
    height:100%;
    background:var(--gray);
    z-index: -1;
}

.grayrectangle .header{
    position:fixed; 
	top: 2%;
	left: 12%;
    width: 82.4%; 
}

.grayrectangle .header img{
    display: block;
	width: 82.5%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-drag: none;
    -khtml-user-drag: none;
    -webkit-user-drag: none;
}

.grayrectangle .pfp{
    position:fixed; 
	top: 18%;
	left: 15%;
    width: 30%; 
}

.grayrectangle .pfp img{
    display: block;
	width: 30%;
    border-style: solid;
    border-width: 0.5rem;
    border-image-width: 0.5rem;
    border-color: var(--light);
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-drag: none;
    -khtml-user-drag: none;
    -webkit-user-drag: none;
}

.grayrectangle .edit{
    position:fixed; 
	top: 32.5%;
	right: 20%;
}

.grayrectangle .edit button{
    width: 6.5rem;
    height: 2rem;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    background-color: var(--dark);
    color: var(--white);
    border-style: none;
}