:root{
    --dark: #03989E;
    --light: #8FF8FC;
    --white: #ffffff;
}

body {
    background-color: var(--dark);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.rectangle{
    position:fixed; 
	top: 15%;
	left: 0%;
    width:100%;
    height:70%;
    background:var(--white);
    z-index: -1;
}

.logo{
    width: 40%;
	transition: 1s;
	top: 17%;
	right: -1%;
	position: absolute;
}

.logo img{
    display: block;
	width:30%;
}

.meepsdotcom{
    width: 40%;
	transition: 1s;
	top: 22%;
	right: -14%;
	position: absolute;
}

.meepsdotcom img{
    display: block;
	width: 40%;
}

.signup{
    position:fixed; 
	top: 35%;
	right: 23%;
}

.signup ::placeholder{
    color: var(--dark);
}

.signup input{
    width: 185%;
    padding: 1rem 1rem;
    background-color: var(--light);
    border-style: none;
}

.submitbtn {
    position:fixed; 
	top: 65%;
	right: 23%; 
}

.submitbtn button{
    width: 150%;
    padding: 1rem 1rem;
    background-color: var(--dark);
    color: var(--white);
    font-weight: bold;
    border-style: none;
    display: absolute;
}

.signup .submitbtn button :hover{
    background: var(--light);
}

.promo{
    width: 71%;
	transition: 1s;
	top: -4.8%;
	left: 4%;
	position: absolute;
}

.promo img{
    display: block;
	width: 71%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-drag: none;
    -khtml-user-drag: none;
    -webkit-user-drag: none;
}

.signin{
    position:fixed; 
	top: 78.4%;
	right: 20%;
}

.signin a{
    position:fixed; 
	text-decoration: none; 
    font-family: Arial, sans-serif;
    color: var(--dark);
}

.text{
    position:fixed; 
	top: 76%;
	right: 33%;
}

.text p{
    position:fixed; 
	text-decoration: none;
    font-family: Arial, sans-serif;
    color: black;
}
